<!DOCTYPE html>
<html lang="zh">

<head>
  <title>TypeScript Vue Sample</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="author" content="SUN BO,starry@vip.qq.com">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

<body>
  <div id="app"></div>
  <script type="text/javascript" src="//unpkg.com/vue@2.6.10"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>
